{% extends "layout.html" %}

{% block content %}
  <section id="content" class="container">
    <div class="panel">
      <h1 class="title">Site Home Page</h1>
    </div>
    <div class="panel">
    <p>
      Welcome to the home page powered by Wildfire. You'll want to get this replaced with your own template, so here's how you go about it.
    </p>
    <p>
      This page runs off a Twig template named <code>home.html</code> and a separate layout file <code>layout.html</code>
      To replace this page with your own layout and template you can do the following...
    </p>
    <p>
      First add your local template directory to the application renderer. In Application.php boot method add:
    </p>
    <pre>
      <code class="language-php">
        $this->renderer->getLoader()->addPath(__DIR__."/Templates");
      </code>
    </pre>
    <p>
      Then create the Templates directory and add your templates inside.
    </p>
    </div>
  </section>
{% endblock %}