<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Wildfire Demo</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/foundation.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
</head>
<body>

<nav class="top-bar docs-bar hide-for-small" data-topbar="">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Wildfire Demo</a></h1>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="large-3 columns">
    <nav class="panel">
      <ul class="side-nav">
        <li class="heading">Site Pages</li>
        <li><a href="/" data-search="">Home</a></li>
        <li><a href="/example" data-search="">Example CMS Page</a></li>
        <li><a href="/404" data-search="">404 Error Page</a></li>
        <li><a href="/error" data-search="">Application Error Page</a></li>
      </ul>
    </nav>
  </div>
  <div class="large-9 columns">
    {% block content %}{% endblock %}
  </div>
</div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/js/foundation.min.js"></script>

  <script>
    $(document).foundation();
  </script>
</body>
</html>
